header {
    padding: 154px 0 100px;
  }
  
  @media (min-width: 992px) {
    header {
      padding: 156px 0 100px;
    }
  }
  
  section {
    padding: 150px 0;
  }

  .jumbotron {
    background-image: url("images/jumtron.jpg");
    height: 100VH;
    width: 100%;
    background-size: cover;
    margin-bottom: 0px;
  }

  .display-4 {
    font-family: 'El Messiri', sans-serif;
    text-align: center;
    color: orange;
    font-weight: 500;
  }

  .my-3 {
      border-top-color: orange;
      width: 50%;     
  }

  .tron-subline {
      color: orange;
      text-align: center;
      font-family: 'El Messiri', sans-serif; 
  }

  h2.about-heading {
    padding-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: #F3A500;
    font-weight: 700;
    line-height: 95px;
    text-align: center;

}

.gradient_line{ 
    margin: 15 0 50px 0;
    display: block;
    border: none;
    background: linear-gradient(to right, #298FA6, #F3A500, #F25305, #F3A500, #298FA6);
    height: 4px;
}

#one {
    margin-top: 0;
    background-color: whitesmoke;
    overflow: hidden;
}

#two {
    
    background-color: silver;
    height: 350px;
    overflow: hidden;
}

.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.lang-header {
    color: darkslategrey;
    text-align: center;
    padding: 25px;
}

.footer {
    background-color: blue;;
    left: 0;
    margin-bottom: 0;
    width: 100%; 
    color: whitesmoke;
    text-align: center;
    height: 30px;
}

.work {
    padding: 45px 340px;
    text-align: center;
}

.work .box {
    width: 250px;
    height: 250px;
    margin: 30px;
    display: inline-block;
    overflow: hidden;
    cursor: pointer
}

.port-header {
    text-align: center;
    color: #F3A500;
    font-size: 83px;
}

.work .box .hoverbox { 
    background: rgba(255, 191, 57, .9);
    position: relative;
    left: -100%;
    height: 100%;
    position: 100%;
    transition: all .5s ease;
    padding: 35px 15px;
    text-align: center;
    opacity: 0;
}

.work .box:hover .hoverbox{
    opacity: 1;
    left:0;
}

.work .box .hoverbox h3 {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

.work .box .hoverbox h5 {
    color: white;
    font-size: 18px;
    
}

.p {
    margin-bottom: 0;
}

.button-1 {
    background-color: white;
    color: black;
    border: 2px solid #FFBF22;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
}

.button-1 {
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}

.button-1:hover {
    background-color: #FFBF22; 
    color: black;
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.css {
    border: 2px solid skyblue;
}

.css:hover {
    background-color: skyblue; 
    color: black;
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.js {
    border: 2px solid BFFF22;
}

.js:hover {
    background-color: #BFFF22; 
    color: black;
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.jv {
    border: 2px solid #22FF4E;
}

.jv:hover {
    background-color: #22FF4E; 
    color: black;
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.jq {
    border: 2px solid #229EFF;
}

.jq:hover {
    background-color: #229EFF; 
    color: black;
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.asp {
    border: 2px solid #8722FF;
}

.asp:hover {
    background-color: #8722FF; 
    color: black;
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.sql {
    border: 2px solid #5D5D5D;
}

.sql:hover {
    background-color: #5D5D5D; 
    color: black;
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.php {
    border: 2px solid #5FB2D4;
}

.php:hover {
    background-color: #5FB2D4; 
    color: black;
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.wp {
    border: 2px solid #E32836;
}

.wp:hover {
    background-color: #E32836; 
    color: black;
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.buttons {
    align-content: center;
    
}

.about-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.about-para {
    padding-top: 45px;
    margin-bottom: 15px;
}

.social {
    text-align: center;
    padding: 20px;
}