body {
    margin: 0;
    padding: 0;
    background-color: #298FA6;
    
}

a.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    line-height: 20px;

}

nav.main-navigation {
    position: relative;
    padding-bottom: 15px;
    background-color: #F2F2F2;
}

nav.main-navigation ul.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    text-align: right;
}

.nav-list li.nav-list-item {
    display: inline-block;
    line-height: 40px;
    margin-left: 30px;
    margin-top: 15px;
}

a.nav-link {
    text-decoration: none;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    color: #FF891E;
}

@keyframes FadeIn {
    0% {
        opacity: 0;
        -webkit-transition-duration: 0.8s;
        transition-duration: 0.8s;
        -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    }


    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        pointer-events: auto;
        transition: cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.nav-list li {
    animation: FadeIn 1s cubic-bezier(0.65, 0.05, 0.36, 1);
    animation-fill-mode: both;
}

.nav-list li:nth-child(1) {
    animation-delay: .3s;
}

.nav-list li:nth-child(2) {
    animation-delay: .6s;
}

.nav-list li:nth-child(3) {
    animation-delay: .9s;
}

.nav-list li:nth-child(4) {
    animation-delay: 1.2s;
}

.nav-list li:nth-child(5) {
    animation-delay: 1.5s;
}

/* Animation */

@keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

.jumbotron {
    background-image: url(images/jumbotron_image2.jpg);
    background-size: cover;
    height: 100VH;
    color: #F2B441;
}

.jumbotron hr {
    border-top-color: #F2B441;;
}

.jumbotron h1 {
    padding-top: 270px;
    font-family: 'Permanent Marker', cursive;
}

.display-4 {
    text-align: center;
    color: #F2B441;
    
}

.tron-subline {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}
.container-about {
    max-width: 500px;
    margin: 2em auto;
}

  .container-about:hover a {
    opacity: .4;
}

a, a:before {
    transition: all .4s;
    
}

h1 {
    text-align: center;
}

h2.about-heading {
    padding-top: 5%;
    font-family: 'Montserrat', sans-serif;
    font-size: 67px;
    color: #F2B441;
    font-weight: 700;
    letter-spacing: -1.5px;
    line-height: 95px;
}

.gradient_line{ 
    margin: 15 0 50px 0;
    display: block;
    border: none;
    background: linear-gradient(to right, #298FA6, #F2B441, #F25305, #F2B441, #298FA6);
    height: 4px;
}

li.about-me {
    max-width: 75VH;
}

/* entire container, keeps perspective */
.flip-container {
    perspective: 1000px;
    float: right;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 325px;
	height: 258px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

.about-me {
    font-size: 14px;
}







































